@import "tailwindcss";
@import "./theme.css";

.contenedor__h1{
  font-family: var(--heading-h1-font-family);
  font-size:  var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  color: var(--color-primary);
  text-align: center;
  padding-top: 40px;
}

.contenedor_h4{
  font-family: var(--heading-h4-font-family);
  font-size:  var(--heading-h4-font-size);
  font-style: var(--heading-h4-font-style);
  font-weight: var(--heading-h4-font-weight);
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  color: var(--color-primary);
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px;
  text-decoration: underline;
}

.texto_mediano{
  font-family: var(--text-medium-font-family);
  font-size:  var(--text-medium-font-size);
  font-style: var(--text-medium-font-style);
  font-weight: var(--text-medium-font-weight);
  letter-spacing: var(--text-medium-letter-spacing);
  line-height: var(--text-medium-line-height);
  color: black;
  font-style: bold;
  text-align: left;
  padding-top: 20px;
}

.texto_grande{
  font-family: var(--text-large-font-family);
  font-size:  var(--text-large-font-size);
  font-style: var(--text-large-font-style);
  font-weight: var(--text-large-font-weight);
  letter-spacing: var(--text-large-letter-spacing);
  line-height: var(--text-large-line-height);
  color: black;
  text-align: left;
  padding-top: 20px;
}

body{
  background-color: rgba(212, 218, 178, 1);
  padding-bottom: 40px;
}

.titulo2{
text-align: center;
}
